.proyectos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr ;
  gap: 25px;
}

.proyectos [alt="proyecto1"] {
  width: 400px;
}

.proyectos .proyecto1-titulo {
  margin-left: 140px;
  font-size: 20px;
}

.proyectos .proyecto1-descripcion {
  margin-left: 0px;
  font-size: 15px;
}